<div class="chatMessageGpt">
    <div class="answerContainer" tabindex="0">
        <div>
            <div>
                <div>
                    <div class="answerText">
                        <pre class="answerText">
                          @* @Content *@
                          Your question isn't related to materials I have indexed or related to subgraph queries, so I am unable to help. Please ask a question related to documents I have indexed or something like find the top 10 active pools.
                        </pre>
                    </div>
                </div>
                <div class="answerHeader">
                </div>
            </div>
        </div>
        <div class="answerFooter">
            <div class="answerDisclaimerContainer">
                <span class="answerDisclaimer">
                    AI-generated content may be incorrect
                </span>
            </div>
        </div>
    </div>
</div>
@code {
    [Parameter]
    public string? Content { get; set; }
}
